* {-webkit-font-smoothing: antialiased;}

html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #D11259;
}
