
$color4: #ff01fb
$darkPink: #C02F5A
$brightPink: #DD3B76
$backgroundPink: #D11259
$color1: rgba(219, 39, 99, 1);
$color2: rgba(246, 81, 29, 1);
$color4: rgba(236, 78, 32, 1);
Dark Orange: #E76535 (Not sure if I like it)
Light Orange: #f28b4e
$color4: rgba(251, 97, 7, 1);
$color5: rgba(243, 222, 44, 1);
$color2: #fffc31;
$moreYellow: #EFd65f
$color3: rgba(255, 252, 49, 1);

$color1: #5cf65a;
$color1: rgba(92, 246, 74, 1);
$aGreen: #67c258 (Again, IDK)
$color2: #29bf12;

$color3: #0ad3ff;
  $myBlue: #4AA7E3
  $notherBlue: #4b9ec6
$color5: #02a9ea;

$color3: rgba(58, 51, 53, 1);
$color5: rgba(251, 254, 249, 1);
